<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('fontawesome-5.3.1/css/all.css') }}" />
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    {% block head %}
        <title>{% block title %}{% endblock %} | Mi Web</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('trabajador_index') }}" class="navbar-brand"><i class="fa fa-home"></i> Mi Pagina</a>
            </div>
            <ul class="nav navbar-nav">
                {#<li class="active">#}
                <li ><a href="{{ path('trabajador_index') }}"><i class="fa fa-user"></i> Trabajadores</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="container">
        {% block body %}{% endblock %}
    </div>
    {#<div id="footer" class="panel-footer">#}
        {#{% block footer %}#}
        {#&copy; Copyright 2018#}
        {#{% endblock %}#}
    {#</div>#}

    {% block script %}
        <script src="{{ asset('bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>

</html>
