{% extends 'base.html.twig' %}

{% block title %} Trabajadores {% endblock %}
{% block li_trabajadores %}class="active"{% endblock %}
{% block body %}
    <h1>Modificar trabajador</h1>

    <div class="col-md-5">
    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}
        {{ form_row(edit_form.ci) }} <br><br>
        {{ form_row(edit_form.nombre) }} <br><br>
        {{ form_row(edit_form.apellidos) }} <br><br>

        <h3>Contactos del trabajador</h3>
        {% for contacto in edit_form.contactos %}
            <div class="col-md-5">{{ form_row(contacto.contacto) }}</div>
            <div class="col-md-7">{{ form_row(contacto.valor) }}</div><br><br>
        {% endfor %}
    {{ form_end(edit_form) }}

    <a href="{{ path('trabajador_index') }}" class="btn btn-default btn-block">Regresar a la lista</a>
        <br>

    </div>
{% endblock %}
