{% extends 'base.html.twig' %}

{% block title %} Trabajadores {% endblock %}
{% block li_trabajadores %}class="active"{% endblock %}
{% block body %}
    <h1>Trabajadores</h1>

    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>CI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% set c = 1 %}
            {% for trabajador in trabajadors %}
                {% if trabajador.estado[0].fechaFinal == null %}
                    <tr>
                        <td>{{ c }}</a></td>
                        <td>{{ trabajador.ci }}</td>
                        <td>{{ trabajador.nombre }}</td>
                        <td>{{ trabajador.apellidos }}</td>
                        <td>
                            <a href="{{ path('trabajador_show', { 'id': trabajador.id }) }}"><i class="fa fa-eye"></i></a>
                            {% if trabajador.estado[0].estado.valorEstado != 'Contratado' %}
                                <a href="{{ path('trabajador_edit', { 'id': trabajador.id }) }}"><i class="fa fa-pen"></i></a>
                                <div class="pull-right">
                                    <a href="{{ path('trabajador_contratar', { 'id': trabajador.id }) }}"><i class="fa fa-user"></i></a>
                                </div>
                            {% endif %}
                            <a href="{{ path('trabajador_delete', { 'id': trabajador.id }) }}"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                    {% set c = c+1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('trabajador_new') }}" class="btn btn-primary btn-block">Crear un nuevo trabajador</a>
    </div>


{% endblock %}
