{% extends 'base.html.twig' %}

{% block title %} Trabajadores {% endblock %}
{% block li_trabajadores %}class="active"{% endblock %}
{% block body %}
    <h1>Datos del trabajador</h1>

    <div class="col-md-5">
        {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            {{ form_row(form.ci) }} <br><br>
            {{ form_row(form.nombre) }} <br><br>
            {{ form_row(form.apellidos) }} <br><br>

        <h3>Contactos del trabajador</h3>
            {#{{ form_row(form.contactos) }}#}
            {% for contacto in form.contactos %}
                <div class="col-md-5">{{ form_row(contacto.contacto) }}</div>
                <div class="col-md-7">{{ form_row(contacto.valor) }}</div><br><br>
            {% endfor %}

        {{ form_end(form) }}
        <a class="btn btn-default btn-block" href="{{ path('trabajador_index') }}">Regresar a la lista</a>
    </div>
{% endblock %}
