{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trabajador</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trabajador.id }}</td>
            </tr>
            <tr>
                <th>Ci</th>
                <td>{{ trabajador.ci }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ trabajador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ trabajador.apellidos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trabajador_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trabajador_edit', { 'id': trabajador.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
