{% extends 'base.html.twig' %}

{% block title %} Trabajadores {% endblock %}
{% block li_trabajadores %}class="active"{% endblock %}
{% block body %}

    <h1>Trabajador</h1>

    <div class="col-md-6">
        {% for message in app.flashes('creado') %}
            <div class="flash-notice alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table">
            <tbody>
                <tr>
                    <th>CI</th>
                    <td>{{ trabajador.ci }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ trabajador.nombre }}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{ trabajador.apellidos }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{ trabajador.estado[0].estado }}</td>
                </tr>
                {% for cont in trabajador.contactos %}
                    <tr>
                        <th>{{ cont.contacto }}</th>
                        <td>{{ cont.valor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if trabajador.estado[0].estado.valorEstado != 'Contratado' %}
            <a href="{{ path('trabajador_edit', { 'id': trabajador.id }) }}" class="btn btn-primary btn-block">Editar</a>
        {% endif %}

        <a href="{{ path('trabajador_index') }}" class="btn btn-default btn-block">Regresar a la lista</a>
        <br>
        <a href="{{ path('trabajador_delete', { 'id': trabajador.id }) }}" class="btn btn-danger btn-block">Eliminar este trabajador</a>

    </div>



{% endblock %}
