{#  en general es NombreBundle:Directorio:fichero
    por defecto lo busca en app/Resources/views/ #}
{% extends "base.html.twig" %}

{% block title %} Libros {% endblock %}

{#<link rel="icon" href="{{ asset('favicon.ico') }}">#}
{#<img src="{{ asset('favicon.ico') }}" alt="">#}
{#<h2>Libros:</h2>#}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #a1311d; }
    </style>
{% endblock %}
{% block body %}
    <h2 class="important">Libros:</h2>
    <p class="important">
        Esta es la pagina de libros.
    </p>
    {# se puede usar path() o url() #}
    <a class="btn btn-primary" href="{{ path('libro_create') }}"><i class="fa fa-book"></i> Crear Libro </a> <br><br>
    <ul>
        {% for book in books %}
            <li> <p class="important"> {{ book.id }} - {{ book.titulo }} -by- {{ book.nombAutor }} </p></li>
            <a href="view/{{ book.id }}" > ver </a>
            |
            <a href="update/{{ book.id }}" > upd </a>
            |
            <a href="delete/{{ book.id }}" > borrar </a> <br><br>
        {% endfor %}
    </ul>

{% endblock %}
