<link rel="icon" href="{{ asset('favicon.ico') }}">
<img src="{{ asset('favicon.ico') }}" alt="">
<h2>Libros:</h2>

{% block body %}
    <a href="create" > crear libro</a>
    <ul>
        {% for book in books %}
            <li> {{ book.id }} - {{ book.titulo }} -by- {{ book.nombAutor }}</li>
            <a href="view/{{ book.id }}" > ver </a>
            |
            <a href="update/{{ book.id }}" > upd </a>
            |
            <a href="delete/{{ book.id }}" > borrar </a>
        {% endfor %}
    </ul>

{% endblock %}
