{% extends "base.html.twig" %}

{% block title %} Ver Libro {% endblock %}


{% block content %}
    <h2>Libro: {{ book.titulo }}</h2>

    ID: {{ book.id }} <br>
    Titulo: {{ book.titulo }} <br>
    Genero: {{ book.genero }} <br>
    Fecha Lanz: {{ book.fechaLanzamiento.date }} <br>
    Unidades: {{ book.cantUnidades }} <br>
    Autor: {{ book.nombAutor }} <br>
    <br>
    <a class="btn btn-default" href="{{ path('libro_home') }}" > Go Home </a>
    <br><br>
{% endblock %}
