{% extends 'base.html.twig' %}

{% block title %} Equipos {% endblock %}

{% block body %}
    <h1> <i class="fa fa-futbol"></i> Equipos </h1>

    <table class="table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Division</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td><a href="{{ path('equipo_show', { 'id': equipo.id }) }}">{{ equipo.id }}</a></td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.division }}</td>
                <td style="text-align: center">
                    <a href="{{ path('equipo_show', { 'id': equipo.id }) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}"><i class="fa fa-pen"></i></a>
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('equipo_show', { 'id': equipo.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('equipo_edit', { 'id': equipo.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('equipo_new') }}" class="btn btn-success btn-sm"> <i class="fa fa-futbol"></i> Crear un nuevo equipo</a>

{% endblock %}
