{% extends 'base.html.twig' %}
{% block title %} Equipos {% endblock %}
{% block body %}
    <h1><i class="fa fa-walking"></i> Equipo</h1>
    <i class="fas fa-sync fa-spin fa-2x"></i>
    <i class="fab fa-font-awesome fa-4x"></i>

    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>Division</th>
                <td>{{ equipo.division }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('equipo_index') }}" class="btn btn-default btn-xs">Atras</a>
    <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}" class="btn btn-default btn-xs">Editar</a>
    <br><br>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-default btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
